.loginStl {
    background-color: rgba(229, 231, 233, 0.836);
}
.u-section-2 {
    background-image: url("../images/fondoLogin.jpg") ;
    background-size: cover;
}
.u-section-2 .u-sheet-1 {
    min-height: 350px;
    
  }

.input-stl {
    border-radius: 15px;
    border-color: rgb(211, 209, 209);
    font-family: 'montserrat';
    border: 2;
    position: absolute;
    margin-top: 20px;
}
.u-form-control-hidden {
    visibility: hidden;
}

.label-stl {
    font-family: 'montserrat';
    position: relative;
    margin: 10px;
}
  .u-section-2 .u-text-1 {
    animation-duration: 1000ms;
    font-size: 3rem;
    margin: 40px auto 0;
    text-align: center;;
    color: white;
  }
  
  .u-section-2 .u-group-1 {
    width: 357px;
    min-height: 463px;
    height: auto;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
    animation-duration: 1000ms;
    margin: 40px auto 60px;
    border-radius: 30px;
  }
  
  .u-section-2 .u-container-layout-1 {
    padding: 30px 21px 0 27px;
  }
  
  .u-section-2 .u-text-2 {
    font-weight: 700;
    font-size: 3rem;
    margin: 0 83px 0 77px;
    font-size: 40px;
  }
  
  .u-section-2 .u-form-1 {
    height: 285px;
    margin: 6px 7px 0 0;
  }
  
  .u-section-2 .u-label-1 {
    font-size: 1.125rem;
    font-weight: 700;
  }
  
  .u-section-2 .u-label-2 {
    font-size: 1.125rem;
    font-weight: 700;
  }
  
  .u-section-2 .u-btn-1 {
    background-image: none;
    border-style: none;
  }
  
  @media (max-width: 1199px) {
    .u-section-2 .u-group-1 {
      height: auto;
    }
  
    .u-section-2 .u-text-2 {
      width: 125px;
      font-size: 2.25rem;
    }
  
    .u-section-2 .u-form-1 {
      margin-top: 19px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-2 .u-form-1 {
      width: 300px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-2 .u-text-1 {
      font-size: 2.25rem;
    }
  
    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-2 .u-text-2 {
      margin-left: auto;
      margin-right: auto;
    }
  
    .u-section-2 .u-form-1 {
      margin-left: auto;
      margin-right: auto;   
    }
  }
  
  @media (max-width: 575px) {
    .u-section-2 .u-group-1 {
      width: 340px;
    }
  
    .u-section-2 .u-form-1 {
      margin-right: 0;
    }
  }